{% include 'consumer/layouts/_partials/hamburger.twig' %}

<section class="sidebar col-md-5 col-sm-12" style="background-image: url({{ html.url('img/default-sidebar.jpg') }})">

    <span class="menu-trigger animated fadeInDown" id="menu-trigger-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <div class="site-info">
        <div class="primary-info">
            <h1> Gazette </h1>

            <p>Deree News. 24/7. <a href="post.html">Latest Story.</a></p>

            <p>Antony is the BEST.</p>
        </div>
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
            </p>
        </div>
    </div>
</section>
<!-- end sidebar -->
