{% extends "consumer/layouts/fullWidth.twig" %}

{% block content %}

    <h1> {{ title }}</h1>

    <p class="subtitle">{{ subtitle }}</p>

    {% for paragraph in paragraphs %}
        <p> {{ paragraph }} </p>
    {% endfor %}

{% endblock content %}
